parameters:
	ignoreErrors:
		-
			message: '#^Method Ergebnis\\Twig\\FrontMatter\\Converter\\FrontMatterConverter\:\:convert\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Converter/FrontMatterConverter.php

		-
			message: '#^Method Ergebnis\\Twig\\FrontMatter\\Converter\\NullFrontMatterConverter\:\:convert\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Converter/NullFrontMatterConverter.php

		-
			message: '#^Method Ergebnis\\Twig\\FrontMatter\\Converter\\ToMultipleAssignmentsFrontMatterConverter\:\:convert\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Converter/ToMultipleAssignmentsFrontMatterConverter.php

		-
			message: '#^Method Ergebnis\\Twig\\FrontMatter\\Converter\\ToSingleAssignmentFrontMatterConverter\:\:convert\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Converter/ToSingleAssignmentFrontMatterConverter.php

		-
			message: '#^Class "Ergebnis\\Twig\\FrontMatter\\Exception\\InvalidName" is not allowed to extend "InvalidArgumentException"\.$#'
			identifier: ergebnis.noExtends
			count: 1
			path: src/Exception/InvalidName.php

		-
			message: '#^Method Ergebnis\\Twig\\FrontMatter\\Expression\\Value\:\:toString\(\) should return string but returns string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/Expression/Value.php

		-
			message: '#^Parameter \#1 \$data of method Ergebnis\\Twig\\FrontMatter\\Converter\\NullFrontMatterConverter\:\:convert\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Converter/NullFrontMatterConverterTest.php

		-
			message: '#^Parameter \#1 \$data of method Ergebnis\\Twig\\FrontMatter\\Converter\\ToMultipleAssignmentsFrontMatterConverter\:\:convert\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: test/Unit/Converter/ToMultipleAssignmentsFrontMatterConverterTest.php

		-
			message: '#^Parameter \#1 \$data of method Ergebnis\\Twig\\FrontMatter\\Converter\\ToSingleAssignmentFrontMatterConverter\:\:convert\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: test/Unit/Converter/ToSingleAssignmentFrontMatterConverterTest.php

